{% extends "index.html" %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Barco</th>
        <th>Puerto</th>
        <th>Chofer</th>
        <th>Combustible</th>
        <th>Cant. Camiones</th>
        <th>fecha Hora Inicio</th>
      </tr>
    </thead>
    <tbody>
    
    <!-- Recorremos los registros de la tabla  y los mostramos -->
    {% for carga in object_list %}
      <tr>
        <td>{{ carga.barco }}</td>
        <td>{{ carga.puerto }}</td>
        <td>{{ carga.chofer }}</td>
        <td>{{ carga.combustible }}</td>
        <td>{{ carga.cantCamiones }}</td>
        <td>{{ carga.fechaHoraInicio |date:"d/m/Y H:i"  }}</td>
        <td>
          
   
          <!-- Formulario para eliminar un registro desde la misma tabla HTML -->                        
          <form method="POST" action="eliminar/{{carga.id}}">
            {% csrf_token %}
            <div class="btn-group">
   
              <!-- Creamos 3 botones Detalle, Editar y Eliminar -->
              <a href="editar/{{carga.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
              <a href="generarDocumentoCarga/{{carga.id}}" title="GenerarDocumento" type="button" class="btn btn-warning">Gen. Doc.</a>
              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
              Eliminar
              </button>
            </div>
          </form>
   
        </td>
      </tr>
    {% endfor %}
   
    </tbody>
  </table>
{% endblock %}
