{% extends "index.html" %}

{% block content %}

<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
      </tr>
    </thead>
    <tbody>
    
    <!-- Recorremos los registros de la tabla 'contactos' y los mostramos -->
    {% for chofer in object_list %}
      <tr>
        <td>{{ chofer.id }}</td>
        <td>{{ chofer.apellido }}</td>
        <td>{{ chofer.nombre }}</td>
        <td>{{ chofer.dni }}</td>
        <td>
   
          <!-- Formulario para eliminar un registro desde la misma tabla HTML -->                        
          <form method="POST" action="eliminar/{{chofer.id}}">
            {% csrf_token %}
            <div class="btn-group">
   
              <!-- Creamos 3 botones Detalle, Editar y Eliminar -->
              <a href="editar/{{chofer.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
              <button class="btn btn-danger" onclick="return eliminar();" type="submit">
              Eliminar
              </button>
            </div>
          </form>
   
        </td>
      </tr>
    {% endfor %}
   
    </tbody>
  </table>
{% endblock %}
